body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:last-child {
    background-color: #171717;
}


section h2 {
    font-size: 3rem;
    color: #171717;
    letter-spacing: 2px;
    font-weight: 600;
}

section:last-child h2 {
    color: #fff;
}